<ion-content>
  <!--  SEARCH TEXT FIELD -->
  <ion-item>
    <button ion-button item-left disabled color="light" type="button">
      <ion-icon name="search"></ion-icon>
    </button>
    <ion-input type="text" [(ngModel)]="filter" placeholder="search beers" (keyup)="search($event)"></ion-input>
  </ion-item>
  <!-- LIST -->
  <ion-card tappable *ngFor="let beer of searchBeers" (click)="onBeerClick(beer)">
    <ion-card-content>
      <ion-card-title>
        <strong [innerHTML]="beer.name"></strong>
      </ion-card-title>
      <p class="event-description">{{ beer.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>


