<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card tappable *ngFor="let beer of beers" >
    <ion-card-content>
      <ion-card-title>
        <strong [innerHTML]="beer.name"></strong>
      </ion-card-title>
      <div>{{ beer.style && beer.style.name }}</div>
      <div>ABV: {{ beer.abv }}</div>
      <br>
      <p class="event-description">{{ beer.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
